<!-- your html code here -->
<section class="container-xxl">
  <h2 class="display-5 fw-bold">Portfolio</h2>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero illum eum quo
    minima laboriosam! Sint nemo architecto molestiae odit quae ducimus unde. Ab
    deserunt temporibus natus aliquid distinctio eos. Reprehenderit!
  </p>

  <section class="row g-5">
    <article class="col-12 col-md-4">
      <div
        class="bg-light d-flex align-items-center justify-content-center"
        style="height: 260px"
      >
        <p class="m-0 fs-2 fw-bold text-secondary">700×400</p>
      </div>
      <h3 class="h4 text-primary mt-3">Project Name</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id esse
        molestias, at asperiores doloremque quia minima dolorum. Nostrum quam
        exercitationem rerum, beatae quia repellendus tempore eius consequuntur
        ratione numquam quibusdam?
      </p>
    </article>

    <article class="col-12 col-md-4">
      <div
        class="bg-light d-flex align-items-center justify-content-center"
        style="height: 260px"
      >
        <p class="m-0 fs-2 fw-bold text-secondary">700×400</p>
      </div>
      <h3 class="h4 text-primary mt-3">Project Name</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id esse
        molestias, at asperiores doloremque quia minima dolorum. Nostrum quam
        exercitationem rerum, beatae quia repellendus tempore eius consequuntur
        ratione numquam quibusdam?
      </p>
    </article>

    <article class="col-12 col-md-4">
      <div
        class="bg-light d-flex align-items-center justify-content-center"
        style="height: 260px"
      >
        <p class="m-0 fs-2 fw-bold text-secondary">700×400</p>
      </div>
      <h3 class="h4 text-primary mt-3">Project Name</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id esse
        molestias, at asperiores doloremque quia minima dolorum. Nostrum quam
        exercitationem rerum, beatae quia repellendus tempore eius consequuntur
        ratione numquam quibusdam?
      </p>
    </article>
  </section>
</section>
